name: Discord Bot 24/7

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 350
    concurrency:
      group: discord-bot
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Discord Bot
        timeout-minutes: 340
        run: python main.py
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          WEBHOOK_1: ${{ secrets.WEBHOOK_1 }}
          WEBHOOK_2: ${{ secrets.WEBHOOK_2 }}
          WEBHOOK_3: ${{ secrets.WEBHOOK_3 }}
          WEBHOOK_4: ${{ secrets.WEBHOOK_4 }}
          WEBHOOK_5: ${{ secrets.WEBHOOK_5 }}
          WEBHOOK_6: ${{ secrets.WEBHOOK_6 }}
          WEBHOOK_7: ${{ secrets.WEBHOOK_7 }}
          WEBHOOK_NEW: ${{ secrets.WEBHOOK_NEW }}
          WEBHOOK_8: ${{ secrets.WEBHOOK_8 }}
          GITHUB_ACTIONS: "true"
